Dockerfile
.dockerignore
apps/web/node_modules
apps/web/npm-debug.log*
apps/web/yarn-debug.log*
apps/web/yarn-error.log*
apps/web/pnpm-debug.log*
apps/web/lerna-debug.log*
apps/web/dist
internal/embed/dist
.git
.github
*.md
.env
.env.*