# Port number for the application server
APP_PORT=3000

# JWT Tokens
# use `openssl rand -base64 32` to generate a random key for encryption
JWT_SECRET=

# Database type (sqlite, postgres, mysql)
DATABASE_TYPE=sqlite

# Database connection URL or file path
# For sqlite: /path/to/database.db
# For mysql: user:pass@tcp(127.0.0.1:3306)/dbname?charset=utf8mb4&parseTime=True&loc=Local
# For postgres: postgres://username:password@localhost:5432/database_name
DATABASE_URL=data.db

OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_ISSUER=
