{{ define "content" }}
<h2 style="margin-top:0;">Reset your password</h2>
<p>We received a request to reset the password for your {{.AppName}} account.</p>
<p>
  <a class="button" href="{{.ActionURL}}">Reset password</a>
  <br/>
  Or copy and paste this link: <br/>
  <a href="{{.ActionURL}}">{{.ActionURL}}</a>
  <br/>
  This link expires in {{.TTL}}.
  
</p>
{{ end }}


