{{ define "content" }}
<h2 style="margin-top:0;">Welcome{{if .UserName}} {{.UserName}}{{end}}!</h2>
<p>Thanks for signing up for {{.AppName}}. Your account was created successfully.</p>
<p>If this wasn’t you, please contact support.</p>
{{ end }}


